<!-- <app-navbar></app-navbar> -->
<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="/dashboard" class="brand">
      <i class="bi bi-heart-pulse-fill"></i>
			<span class="text">MedicAPP</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="./dashboard">
					<i class="bi bi-house-dash"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="./appointment">
					<i class="bi bi-person-lines-fill"></i>
					<span class="text">Appointment</span>
				</a>
			</li>
			<li>
				<a href="./patient">
					<i class="bi bi-person-badge-fill"></i>
					<span class="text">Patients</span>
				</a>
			</li>
			<li>
				<a href="./doctor">
          <i class="fa fa-user-md"></i>
          <!-- <i class="fa fa-stethoscope"></i> -->
					<span class="text">Doctor</span>
				</a>
			</li>
			<li>
				<a href="./department">
					<i class="bi bi-building"></i>
					<span class="text">Department</span>
				</a>
			</li>
			<li>
				<a href="./payment">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					<span class="text">Payment</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class="bi bi-sliders"></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="./login" class="logout">
					<i class="bi bi-box-arrow-right"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class="bi bi-list"></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input (click) = "dark()" type="checkbox" id="switch-mode" hidden>
			<label  for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class="bi bi-bell-fill"></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="./assets/1.jpg">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class="bi bi-chevron-right"></i></li>
						<li>
							<a class="active" href="./dashboard">Home</a>
						</li>
					</ul>
				</div>
			</div>

			<ul class="box-info">
				<li>
					<i class="bi bi-person-fill"></i>
					<span class="text">
						<h3>100</h3>
						<p>Patients</p>
					</span>
				</li>
				<li>
					<i class="fa fa-users" aria-hidden="true"></i>
					<span class="text">
						<h3>2834</h3>
						<p>Visitors</p>
					</span>
				</li>
				<li>
					<i class="fa fa-bed" ></i>
					<span class="text">
						<h3>65</h3>
						<p>Total Beds Occupied</p>
					</span>
				</li>

			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Patients</h3>
						<i class='bi bi-search' ></i>
						<i class='bi bi-filter' ></i>
					</div>

					<table class="table mt-2" style="color : rgb(36, 30, 30)">
            <thead>
              <tr class="table" >
                <th scope="col">Photo</th>
              <th scope="col">Name</th>
              <th scope="col">Last Visit</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <tr *ngFor="let row of employeeData">
                <td><img src="./assets/5.jpg" class="card-img-top circle" alt="..."></td>
                <td>{{row.name}}</td>
                <td style="color:grey">{{row.date}}</td>
                <td>
                <div  class="status completed">
                  {{row.status}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
				</div>
				<div class="todo">
					<div class="head">
						<h3>Todos</h3>
						<i class='bi bi-plus' ></i>
						<i class='bi bi-filter' ></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Add New doctors data</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Check bed count</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Updation in process</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
					</ul>
				</div>
			</div>
		</main>
	</section>
