<app-navbar></app-navbar>
<div class="container" >

  <h2 class="mt-4" style="color: grey;">Departments</h2>
  <div class="row">
    <div class="card m-3" style="width: 22rem;">
      <img src="./assets/Department/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Cardiology</h2>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
        </p>
          <a href="./more"    class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
        </div>
      </div>
      <div class="card m-3" style="width: 22rem;">
        <img src="./assets/Department/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Dentistry</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
          </p>
            <a href="./more" class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
          </div>
        </div>
        <div class="card m-3" style="width: 22rem;">
          <img src="./assets/Department/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Laboratory</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
            </p>
              <a href="./more" class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
            </div>
          </div>
  </div>
  <div class="row">
    <div class="card m-3" style="width: 22rem;">
      <img src="./assets/Department/4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Pulmonology</h2>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
        </p>
          <a href="./more" class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
        </div>
      </div>
      <div class="card m-3" style="width: 22rem;">
        <img src="./assets/Department/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Gynecology</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
          </p>
            <a href="./more" class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
          </div>
        </div>
        <div class="card m-3" style="width: 22rem;">
          <img src="./assets/Department/6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Gastrology</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
            </p>
              <a href="./more" class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
            </div>
          </div>
  </div>
  <div class="row">
    <div class="card m-3" style="width: 22rem;">
      <img src="./assets/Department/7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Neurology</h2>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
        </p>
          <a href="./more" class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
        </div>
      </div>
      <div class="card m-3" style="width: 22rem;">
        <img src="./assets/Department/8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Physical rehabilitation</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
          </p>
            <a href="./more" class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
          </div>
        </div>
        <div class="card m-3" style="width: 22rem;">
          <img src="./assets/Department/9.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Pediatrician</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.
            </p>
              <a href="./more" class="btn ">More   &nbsp;&nbsp;&nbsp;<i class="bi bi-card-checklist"></i></a>
            </div>
          </div>
</div>

</div>


